<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />

                <rule name="redirect http to https" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/education/candp/{R:1}" />
                </rule>

                <rule name="Ensure trailing slash" enabled="false" stopProcessing="true">
                    <match url="/candp" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    </conditions>
                    <action type="Redirect" url="/candp/" />
                </rule>
                <rule name="ReverseProxyInboundRule2" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{URL}" pattern="/candp/" />
                    </conditions>
                    <action type="Rewrite" url="http://appslb.nationalarchives.gov.uk/education/candp/{R:1}" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="ReverseProxyOutboundRule1" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^http(s)?://appslb.nationalarchives.gov.uk/education/candp/(.*)" />
                    <action type="Rewrite" value="http{R:1}://www.nationalarchives.gov.uk/{R:2}" />
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
    <location path="crime">
    </location>
</configuration>
